
.coveralls.yml
# C extensions

.idea
staticfiles/*
bower_components/*


# Unit test / coverage reports

.coverage
.coverage.*
.coveralls.yml


# Django stuff:
*.log
local_settings.py

# virtualenv
venv/
ENV/

